body{
    background-color: #ffffff;

    padding: 0;
    margin: 2% auto;
    font-family: Verdana, Geneva, sans-serif;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    margin: auto;
    padding: 0;
    width: auto;
    max-width: 500px;
    border: none;
}

.actions{
    height: 20px;
    float: left;
    padding: 10px;
    margin-bottom: 10px;
}



.actions .btn{
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 25px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.63);
}

#close{
    float: right;
    font-size: 1rem;
    padding: 0px;
    margin: 0px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    background-color: transparent;
    margin-bottom: 10px;
}

#Dialog{
    width: 430px;
    height: max-content;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.63);
    border-radius: 10px;
    border: none;

}

form {
    width: 100%;
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.input_group{
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

.input_group input{
    height: 36px;
    border-radius: 5px;
}
form button{
    width: 100%;
    padding: 10px 0px;
}

.content_area{
    margin-top: 10px;
}

.api_sources{
    position: sticky;
    top: 0;
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    margin: 15px 4px 10px 4px;
    background-color: rgba(255, 85, 0, 0.87);
    line-height: 1.5rem;
    word-break: break-word;
    width: auto;
    font-size: 1.1rem;
    color: white;
    margin-top: 0px;
    z-index: 8;
}

.api_sources button{
    /*float: right;*/
    border: none;
    background-color: transparent;
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 0rem!important;
    writing-mode: vertical-rl;
    cursor: pointer;
    height: auto;
    width: auto;
    padding-left: 11px
}

.options {
    display: none;
    top: 60px;
    position: sticky;
    margin-left: 69%;
    background: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 150px;
    z-index: 999;
}

.list_options {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.list_options li {
    /*padding: 8px 12px;*/
    padding: 0px;
    margin: 0px;
    border: none;
    box-shadow: none;
    border-radius: 0px;
    background-color: transparent;

}

/**/
.list_options li:first-child {
    border-bottom: 1px solid #ccc;
    border-radius: 8px 8px 0px 0px;
}
.list_options li:first-child:hover {
    background-color: rgba(204, 204, 204, 0.27);
    background-clip: border-box;
    border-radius: 7px 7px 0px 0px;
}

/**/
.list_options li:nth-child(n) {
    border: none;
    border-bottom: 1px solid #ccc;
}
.list_options li:nth-child(n):hover {
    background-color: rgba(204, 204, 204, 0.27);
    background-clip: border-box;
}

/**/
.list_options li:last-child {
    border: none;
    border-radius: 0px 0px 8px 8px;
}

.list_options li:last-child:hover {
    border: none;
    border-radius: 0px 0px 7px 7px;
    background-color: rgba(204, 204, 204, 0.27);
    background-clip: border-box;
}

.list_options li button {
    width: 100%;
    padding: 8px 12px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    text-align: start;
}


.show {
    display: block;
}

ul{
    list-style-type: none;
    padding-left: 0;
    margin: auto 6px;
    margin-top: 5%;
    word-wrap: break-word;
}

ul li{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: stretch;
    box-shadow: 0px 0px 2px rgba(31, 18, 1, 0.87);
    padding: 10px;
    margin: 2% auto;
    background-color: rgba(248, 249, 250, 0.92);
}


.status{
    margin-top: 10%;
    font-size: 1.1rem;
    font-weight: medium;
    text-align: center;
}

.mask{
    display: none;
}


.author_fullname{
    background-color: #ccc;
    background-clip: border-box;
}

.title{
    font-weight: lighter;
    font-size: 0.9rem;
}

.score{
    float: left;
    font-weight: bold;
}



