:root {
    --font-Montserrat-Regular: 'Montserrat', sans-serif;
    --font-OpenSans: 'Open Sans', sans-serif;

}

body{
    background-color: #e7d8f7;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;

    height: 100vh;
}

.wrapper{
    width: 500px;
    height: auto;
    border-radius: 10px;
    padding: 20px;
    margin: auto;
    box-shadow: #422680 0px 0px 5px 2px;
}

.wrapper h3{
    font-family: var(--font-Montserrat-Regular);
    font-optical-sizing: auto;
    font-weight: 500;
    line-height: 2em;
    font-size: 1.8rem;
    padding: 0;
    margin: 0;
}

.wrapper p{
    font-family: var(--font-OpenSans);
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: normal;
    font-variation-settings: condensed;
    font-size: 1rem;
    padding: 0;
    margin: 0;
}

.accordion{
    margin-top: 20px;

}

.accordion_item{
    width: 100%;
    margin: 10px 0px;
    position: relative;
}

.accordion_item button{
    width: 100%;
    text-align: start;
    padding: 15px;
    background-color: #9f21e3;
    color: white;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 1px 2px 0px rgba(13, 11, 17, 0.62);
    font-family: var(--font-OpenSans);
    font-weight: bold;
    font-size: 1rem;

}

button:hover{
    cursor: pointer;
}

.accordion_item button span {
    float: right;
}

.content_accordian_item {
    border: 1px solid #3a0057;
    border-radius: 10px;
    margin: 10px auto;
    padding: 10px;
    text-align: justify-all;
    display: none;
    font-family: var(--font-OpenSans);
    font-size: 1rem;

}

.hide_content {
    display: none;
}

.show_content {
    display: block;
    box-shadow: rgba(3, 3, 3, 0.09) 0px 0px 2px 2px;
}

